body{
    font-family: Arial;
    text-align:center;
    background:#f4f4f4;
}

h1{
    color:#0a66c2;
}

button{
    padding:12px 25px;
    background:#0a66c2;
    color:white;
    border:none;
    border-radius:6px;
}
